body {
    background-color: aqua;
    background-image: url('../images/mobile-phone-white-background-laptop-keyboard-mobile-phone-white-background-laptop-keyboard-black-wooden-table-100393308.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
