@{
    ViewBag.Title = "Contact";
}
<h1>Contact Us</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/Styleicons.css" rel="stylesheet" />




<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>


<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-pinterest"></a>

